@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;600;700;800&display=swap');

/*Обнуление*/
* {
    padding: 0;
    margin: 0;  
}
a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*--------------------*/

body {
    font-family: Montserrat;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    height: 100%;

}

.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;



}

._container {
    margin: 0 auto;

    max-width: 3000px;
    padding: 0 15px;
    box-sizing: content-box;
}




/*-----------------------------*/

.header {}

.header__menu {
    margin: 15px 0;
    min-height: 110px;
}

/*----*/

.menu {
    display: flex;
    align-items: center;


}

.menu__logo {
    display: block;
    max-width: 100px;
    margin: 0 150px 0 0;
}

.menu__logo-img {
    width: 100%;
}

.menu__nav {}

.menu__ul {
    display: flex;
    flex-wrap: wrap;
}

.menu__ul>*:not(:last-child) {
    margin: 0 25px 0 0;
}

.menu__li {}

.menu__li-a {
    font-weight: 600;
    line-height: 200%;
    /* identical to box height, or 171% */
    letter-spacing: 0.2px;
    /* second-text-color */
    color: #000;
    transition-duration: 0.5s;
}

.menu__li-a:hover {
    border-bottom: 1px solid #4B2525;
    color: #4B2525;
    position: relative;
    bottom: 2px;

}


/*-----------------------------*/



.main {


    flex: 1 0 auto;
}


.main__container {}



.main__title {
    text-align: center;
    padding: 50px 0;
    font-weight: 800;
    font-size: 58px;
    line-height: 138%;


    letter-spacing: 0.2px;
}



.main__navigation {}

.navigation {}

.navigation__title {
    padding: 25px 0 15px 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 130%;


    letter-spacing: 0.2px;
}

.navigation__nav {
    margin: 0 0 0 15px;
}

.navigation__ul {}

.navigation__li {}

.navigation__li:not(:last-child) {
    padding: 0 0 10px 0;
}

.navigation__li-a {


    font-size: 18px;
    line-height: 130%;

    color: #000;
    letter-spacing: 0.2px;
}

.navigation__li-a:hover {
    border-bottom: 1px solid #4B2525;
    color: #4B2525;
    position: relative;
    bottom: 2px;

}

.main__content {
    margin: 30px 0;
}

.main__content-title {
    margin: 0 0 25px 0;
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;


    letter-spacing: 0.2px;
}

.main__content-text {}


/*-----------------------------*/
.footer {
    flex: 0 0 auto;
}