/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/*--------------------*/
html {
    height: 100%;
}

body {
    font-family: 'Muller';




}

.wrapper {

    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/*---------------------------------*/



.header {
    flex: 0 0 auto;
    padding: 10px;
}

.header__menu {
    margin: 15px 0;
    min-height: 110px;
}

/*----*/

.menu {
    display: flex;
    align-items: center;


}

.menu__logo {
    display: block;
    max-width: 100px;
    margin: 0 150px 0 0;
}

.menu__logo-img {
    width: 100%;
}

.menu__nav {}

.menu__ul {
    display: flex;
    flex-wrap: wrap;
}

.menu__ul>*:not(:last-child) {
    margin: 0 25px 0 0;
}

.menu__li {}

.menu__li-a {
    font-weight: 600;
    line-height: 200%;
    /* identical to box height, or 171% */
    letter-spacing: 0.2px;
    /* second-text-color */
    color: #000;
    transition-duration: 0.5s;
}

.menu__li-a:hover {
    border-bottom: 1px solid #4B2525;
    color: #4B2525;
    position: relative;
    bottom: 2px;

}


/*-----------------------------*/

/*------main---------------------------*/
main {}

.main__content {
    max-width: 100%;
    margin: 0 auto;


}

.main__placement {}

.placement {}

.placement__title {
    font-style: normal;
    font-weight: 400;
    font-size: 2.857rem;
    line-height: 285.7%;
    /* identical to box height */


    color: #333333;
}

.placement__product-card {

    display: grid;

    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
}

.product-card {}

.product-card__item {
    border-radius: 15px 15px 0px 0px;
}

.product-card__imgs {
    margin: 0 0 26px 0;
}

@media(max-width:479px) {
    .product-card__imgs {
        margin: 0 0 15px 0;
    }
}

.product-card__img {
    width: 100%;
}

.product-card__body {
    margin: 0 0 41px 45px;
}

@media(max-width:660px) {
    .product-card__body {
        text-align: center;
        margin: 0 0 30px 0;
    }
}



.product-card__body>*:not(:last-child, .product-card__country) {
    margin: 0 0 16px 0;
}


.product-card__price-rating {}

.price-rating {}

.price-rating__praice {
    margin: 0 45px 0 0;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 1.142rem;
    line-height: 114%;
}

@media(max-width:660px) {
    .price-rating__praice {
        display: block;
        margin: 0 0 0 0;
    }
}


.samp__discolored {

    font-style: normal;
    font-weight: 400;
    font-size: 1.142rem;
    line-height: 114%;
    /* identical to box height */


    color: #999999;
}

.samp__big-blac {

    font-weight: 700;

    font-size: 1.428rem;
    line-height: 142.8%;
}


.product-card__hotel {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 1.142rem;
    line-height: 114%;
}

.product-card__country {
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1.142rem;
    line-height: 114%;
    /* identical to box height */


    color: #999999;
}

.product-card__button {}

.product-card__button-link {

    display: inline-block;
    border: 1px solid #CC9933;
    border-radius: 10px;
    padding: 13px 20px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 1.142rem;
    line-height: 114%;
    /* identical to box height */


    color: #CC9933;
}

@media(max-width:660px) {
    .product-card__button-link {
        width: 100%;

    }
}








/*--рейтинг---------------------------------*/


.price-rating__rating {}

.simple-rating {
    position: relative;
    font-size: 1.628rem;
    display: inline-block;

}

@media(max-width:479px) {
    .simple-rating {

        font-size: 1.928rem;


    }
}

@media(max-width:710px) {
    .simple-rating {
        margin: 10px 0;
        font-size: 1.928rem;


    }
}

.simple-rating::before {
    content: "★★★★★";
    display: block;
}

.simple-rating__items {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}


.simple-rating__item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    left: 0;
    top: 0;
}


.simple-rating__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: rgb(199, 197, 197)
}

.simple-rating__label::before {
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked~.simple-rating__label {
    color: gold;
}


.simple-rating__label:hover,
.simple-rating__label:hover~.simple-rating__label,
.simple-rating__label:checked~.simple-rating__label:hover {
    color: rgb(241, 227, 145);
}



/*---------------------------------------*/


.footer {
    flex: 0 0 auto;
    display: block;
}

.footer__content {

    font-style: normal;
    font-weight: 400;
    font-size: 1.142rem;
    line-height: 190%;
    /* or 30px */


    color: #FFFFFF;

    min-height: 50px;
    background: #333333;


    display: block;
    text-align: center;
    margin: 0 auto;
}