@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:wght@300;400;700&display=swap');
@import "/homework_7/fonts/Roboto/stylesheet.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto:wght@400;700&display=swap');

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {

    font-family: 'Roboto';

}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/*--------------------*/
body {
    color: #787878;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;

}

.wrapper {
    width: 100%;
    padding-bottom: 50px;
}

._conteiner {}


/*-----header---------------*/

.header {

    box-shadow: 0px calc(4/1440*100vw) calc(4/1440*100vw) rgba(0, 0, 0, 0.25);
}

.header__conteiner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
}

.header__imgs {
    margin: calc(18/1440*100vw) calc(30/1440*100vw) calc(12/1440*100vw);

    width: calc(222/1440*100vw);

}

@media (max-width:768px) {
    .header__imgs {
        margin: calc(25/768*100vw) calc(34/768*100vw) calc(30/768*100vw) calc(20/768*100vw);

        width: calc(124/768*100vw);

    }
}

.header__imgs img {
    width: 100%;

}

.header__wordmark {
    margin: calc(21/1440*100vw) 0 calc(15/1440*100vw);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: calc(36/1440*100vw);
    line-height: calc(44/1440*100vw);
    /* identical to box height */

    color: #787878;
}

@media (max-width:768px) {
    .header__wordmark {
        margin: calc(23/768*100vw) 0 calc(28/768*100vw);

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: calc(24/768*100vw);
        line-height: calc(29/768*100vw);
        /* identical to box height */

        color: #787878;
    }
}

.header__navigation {
    margin-right: calc(43/1440*100vw);
    display: flex;
    align-items: center;
}

@media (max-width:768px) {
    .header__navigation {
        margin-right: calc(28/768*100vw);

    }
}

.header__navigation-nav {}

.header__navigation-item {
    display: flex;
}

.header__navigation-item>*:not(:last-child) {
    margin-right: calc(28/1440*100vw);

}

@media (max-width:768px) {
    .header__navigation-item>*:not(:last-child) {
        margin-right: calc(36/768*100vw);

    }
}

.header__navigation-li {
    display: flex;
    align-items: center;

}

.header__navigation-link {
    font-family: 'Inter';
    font-style: normal;
    color: #787878;
    font-size: calc(24/1440*100vw);
    line-height: calc(29/1440*100vw);
    /* identical to box height */
}

@media (max-width:768px) {
    .header__navigation-link {
        font-size: calc(16/768*100vw);
        line-height: calc(19/768*100vw);
        /* identical to box height */
    }
}

._pressed {
    color: #1A226B;
}

/*--------------------*/



/*--------------------*/

.section-input-field {
    width: calc(600/1440*100vw);
    padding: calc(26/1440*100vw) calc(45/1440*100vw);



    background: #fff;
    margin: calc(125/1440*100vw) auto;
    box-shadow: 0px 0px calc(40/1440*100vw) calc(10/1440*100vw) rgba(0, 0, 0, 0.25);


}

@media (max-width:768px) {
    .section-input-field {

        width: calc(600/768*100vw);
        padding: calc(26/768*100vw) calc(45/768*100vw) calc(37/768*100vw);
        margin: calc(80/768*100vw) auto;
    }
}







.section-input-field__title {

    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: calc(50/1440*100vw);
    line-height: calc(50/1440*100vw);



}

@media (max-width:768px) {
    .section-input-field__title {

        font-size: calc(50/768*100vw);
        line-height: calc(50/768*100vw);
    }
}


.section-input-field__body {
    display: flex;
    flex-direction: column;
}

.section-input-field__item {}

.item-mail {
    margin-top: calc(17/1440*100vw);
}

@media (max-width:768px) {
    .item-mail {
        margin-top: calc(17/768*100vw);
    }
}


.section-input-field__mail-label {

    margin-left: calc(8/1440*100vw);
    font-style: normal;
    font-weight: 700;
    font-size: calc(16/1440*100vw);
    line-height: calc(16/1440*100vw);
}

@media (max-width:768px) {
    .section-input-field__mail-label {
        margin-left: calc(8/768*100vw);
        font-size: calc(16/768*100vw);
        line-height: calc(16/768*100vw);
    }
}


.section-input-field__mail-input {
    margin-top: calc(5/1440*100vw);
    width: calc(510/1440*100vw);
    border: calc(2/1440*100vw) solid #787878;
    font-weight: 700;
    font-size: calc(28/1440*100vw);
    line-height: calc(36/1440*100vw);
    color: #787878;
    padding-left: calc(15/1440*100vw);
}

.section-input-field__mail-input::placeholder {
    color: #CCCCCC;
}

@media (max-width:768px) {
    .section-input-field__mail-input {
        width: calc(509/768*100vw);
        border: calc(2/768*100vw) solid #787878;

        font-size: calc(28/768*100vw);
        line-height: calc(36/768*100vw);

        color: #787878;

        padding-left: calc(15/768*100vw);
    }
}

.item-password {
    margin-top: calc(11/1440*100vw);
}

@media (max-width:768px) {
    .item-password {
        margin-top: calc(11/768*100vw);
    }
}

.section-input-field__password-input {
    margin-top: calc(5/1440*100vw);


    width: calc(510/1440*100vw);
    border: calc(2/1440*100vw) solid #787878;

    font-weight: 700;
    font-size: calc(28/1440*100vw);
    line-height: calc(36/1440*100vw);
    color: #787878;
    padding-left: calc(15/1440*100vw);
}

.section-input-field__password-input::placeholder {
    color: #CCCCCC;
}

@media (max-width:768px) {
    .section-input-field__password-input {


        width: calc(510/768*100vw);
        border: calc(2/768*100vw) solid #787878;

        font-size: calc(28/768*100vw);
        line-height: calc(36/768*100vw);
        padding-left: calc(15/768*100vw);
    }
}

.section-input-field__password-label {

    margin-left: calc(8/1440*100vw);
    font-style: normal;
    font-weight: 700;
    font-size: calc(16/1440*100vw);
    line-height: calc(16/1440*100vw);


}

@media (max-width:768px) {
    .section-input-field__password-label {
        font-size: calc(16/768*100vw);
        line-height: calc(16/768*100vw);
    }
}


.section-input-field__button {
    display: block;
    margin: 0 auto;
    margin-top: calc(52/768*100vw);
    font-style: normal;
    font-weight: 700;
    font-size: calc(24/1440*100vw);
    line-height: calc(16/1440*100vw);
    color: #FFFFFF;
    background: #1A226B;

    width: calc(180/1440*100vw);
    padding: calc(18/1440*100vw) 0;
}

@media (max-width:768px) {
    .section-input-field__button {
        font-size: calc(24/768*100vw);
        line-height: calc(16/768*100vw);
        width: calc(180/768*100vw);
        padding: calc(18/768*100vw) 0;
    }
}