.calculator {
    max-width: 30vw;
    margin: 0 auto;
}

.calculator__form {
    display:flex;
flex-direction:column;
justify-content:center;
}

.calculator__form>*:not(:last-child) {
    margin-bottom: 5px;
   
}

.calculator__button {}
